@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.profile-picture img {
    width: 350px
}

.greeting {
    /*min-height: 100vh;*/
    display: flex;
    align-items: center;
    gap: 7em;
    font-family: 'Inter', 'Montserrat', serif;
    font-weight: 900;
    letter-spacing: -2px;
    color: #163541;
    padding: 15% 15% 0;

}

.greeting-content {
    max-width: 800px;
    line-height: 1;
}

.greeting-content h3 {
    font-size: 28px;
    margin: 0 0 8px 0;
}

#greeting-text {color: #0ea5e9}

.greeting-content h1 {
    font-size: 82px;
    margin: 0 0 16px 0;
}

#about {
    font-weight: 400;
    letter-spacing: -1px;
    color: #94a3b8;
    white-space: pre-line;
}

#name {
    background-image: linear-gradient(to right, #06b6d4, #3b82f6);
    background-clip: text;
    color: transparent;
}

.services {
    display: flex;
    padding-left: 15%;
}

.services img {
    width: 28px;
    margin-right: 32px;
}

.services img:hover {
    stroke: #49586e;
}