/*@import url(//fonts.googleapis.com/css?family=Montserrat:ital,wght@0,100..900;1,100..900);*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

.container {
    display: flex;
}

#profile-picture {
    float: left;
    margin-left: 15%;
    margin-top: 15%;
    width: 15%;
    height: 15%;
}

.greeting {
    margin-top: 12%;
    font-family: 'Montserrat', serif;
    font-weight: 800;
    font-size: 3.5rem;
    color: #163541;
    white-space: break-spaces;

}

.greeting strong {
    background-image: linear-gradient(to right, #6161b3, #8989ee, #29c8e8);
    background-clip: text;
    color: transparent;
}
